/**
 * Body
 */
body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
}

/**
 * Navbar
 */
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0, .9);
}

.top-nav {
    margin-right: -5px;
}

.top-nav li {
    margin: 0 15px;
}

.top-nav li::after {
    margin: 0;
}

/**
 * Additional background color
 */
.bg-primary-custom {
    background-color: #3c9aff;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar-brand {
        font-size: 24px;
        margin-top: -40px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}